div {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: #E7ECEF;
    color: #274C77;
    /* max-width: 1200px; */
}

html {
    line-height: 1.15;
}

li {
    list-style-type: none;
}

h4 {
    padding-left: 32px;
}

hr {
    margin: 10px 0;
}

/* color */

.lightgray {
    color: #E7ECEF;
}

.navy {
    color: #274C77;
}

.blue {
    color: #6096BA;
}

.skyblue {
    color: #A3CEF1;
}

.darkgray {
    color: #8B8C89;
}

/* color */

.side-nav {
    width: 240px;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
    padding-top: 20px;
    transition: 0.5s;
    overflow-x: hidden;
}

.side-nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 30px 10px 32px;
    color: #274C77;
    transition: 0.3s;
}

.side-nav a:hover,
.side-nav a:focus {
    color: #6096BA;
}

.side-nav svg {
    margin-right: 15px;
}

.side-nav i {
    margin-right: 15px;
    font-size: 20px;
}

.side-nav .btn-close {
    position: absolute;
    top: 30px;
    right: 20px;
    padding: 0;
    display: none;
}

.side-nav .dropdown-menu {
    border: 0;
    transition: 0.4s;
}

.main-container {
    margin-left: 240px;
    padding: 20px;
}

.header input:focus {
    outline: none;
}

.header i {
    margin-right: 15px;
    font-size: 20px;
}

.navbar-toggler {
    display: none;
    padding: 0;
    width: 28px;
}

.head-search {
    display: flex;
    width: 300px;
    align-items: center;
}

.head-search i {
    margin-left: 10px;
    margin-right: 5px;
    color: #274C77;
    font-size: 16px;
}

.head-search input {
    border: 0;
    color: #274C77;
}

.head-search input:focus,
.dropdown button:focus {
    box-shadow: none;
}

.head-profile {
    display: flex;
    align-items: center;
}

.head-profile .dropdown-menu a {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 10px 0 5px 15px;
}

.dropdown {
    margin-right: 10px;
}

.dropdown-item {
    color: #274C77;
}

.dropdown-item span {
    margin-left: 10px;
    margin-right: 15px;
}

.dropdown img {
    width: 30px;
    margin-right: 5px;
}

.dropdown-menu i {
    margin-right: 10px;
}

.btn-blue {
    background-color: #6096BA;
    color: white;
}

.btn-blue:hover {
    background-color: white;
    color: #6096BA;
    border: 1px solid #6096BA;
}

.btn-skyblue:hover {
    background-color: white;
    color: #A3CEF1;
    border: 1px solid #A3CEF1;
}

.btn-skyblue {
    background-color: #A3CEF1;
    color: white;
}

.footer {
    text-align: right;
}

@media screen and (max-width: 768px) {
    .main-container {
        margin-left: 0;
    }

    .side-nav {
        width: 0;
    }

    .side-nav .btn-close {
        display: block;
    }

    .navbar-toggler {
        display: block;
    }
}