.profile-card {
    overflow: hidden;
}

.background-color {
    height: 100px;
    background-color: #6096BA;
    overflow: hidden;
}

.profile-card .user {
    margin-top: -50px;
}

.user img {
    width: 100px;
    border: 7px solid white;
    border-radius: 50%;
    box-sizing: content-box;
}

.links .btn {
    width: 50px;
    height: 50px;
}

.links a {
    text-decoration: none;
}

.links i {
    font-size: 25px;
}